.titulo-principal{
    padding-left: 30px;
}

#banner {
    width: 100%;
}

.principal{
    background: #cccccc ;
    padding: 20px;
}

.titulo-centralizado{
    text-align: center;
}

p{
text-align: center;
}

em strong{
    color: red;
}

#mision {
    font-size: 20px;
}

.items{
    font-style: italic;
}

.diferenciales{
    background: #ffffff;
    padding: 30px;
}
 
ul{
    display: inline-block;
    vertical-align: top;
    width: 20%;
    margin-right: 15%;
}

.imagendif{
width: 50%;
}